#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "{background}",
    floating_border_color: "{color6}",
    focused_border_color: "{foreground}",
    background_color: "{background}",
)